div#location-list {
    row-gap: 2.5em !important;
}

.field-list-row {
    box-shadow: 0 0 0 0;
    border: 1px solid;
    border-radius: 0;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.location-item {
    column-gap: 0.5rem;
}

div#guest-list {
    display: grid;
    row-gap: 3rem;
}

div#guest-counter {
    display: grid;
    row-gap: 0.5rem;
}

.counter {
    /* background: yellowgreen; */
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
    width: max-content;
}